[logs]
# Directory that contains the log files
dir     = /var/log
# Glob pattern to select log files inside 'dir'
pattern = precision-8443.log*

[output]
# Directory where activity.html will be written
dir  = /opt/www/sites/data.scarab-solutions.com/report
# HTML filename
name = activity.html
# Performance dashboard filename
perf_name = performance.html

[display]
# Number of recent reports shown in the table
max_reports = 100
# Number of top farms shown in the ranking
top_farms   = 60
# Set to true to suppress informational output (recommended for cron)
quiet       = false
