[logs]
dir     = /home/alexhd/tmp/scarab/log/log
pattern = precision-mbl-9450.log*

[output]
dir       = /home/alexhd/tmp/scarab/log/out
name      = precision-mbl.html
perf_name = precision-mbl-performance.html

[display]
max_reports     = 100
top_farms       = 60
refresh_seconds = 1200
quiet           = false
