[logs]
dir     = /home/alexhd/tmp/scarab/log/log
pattern = precision-adm-9090.log*

[output]
dir       = /home/alexhd/tmp/scarab/log/out
name      = precision-adm.html
perf_name = precision-adm-performance.html

[display]
max_reports     = 100
top_farms       = 60
refresh_seconds = 1200
quiet           = false
